.form{
   background-color: lightgreen;
   text-align: center;
 

}
.studentform{
    background-color: #cbd6b2;
    text-align:center;
    height:30%;
    width:50%;
    margin:3rem;
}
.click{
    background-color: #cbd6b2;
}